
/* Sign up */

.signup-page{
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  padding: 2rem;
}
.sign-up{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.input{
  padding: 0.8rem;
  width: 90%;
  margin: 1rem;
}
.btn{
padding: 1rem;
background-color: rgb(52, 122, 52);
border: none;
color: white;
border-radius: 5px;
margin-left: 33rem;
}
.account{
  color: green;
  margin-bottom: 2rem;
}
span{
  color: red;

}